

/*Calculator CSS*/
    
   
    .modal-content
    {
            width: fit-content;
            max-height: 300px;

    }
    #calculator {
        width: 325px;
        height: auto;
        padding: 20px 20px 9px;
        background: #9dd2ea;
        background: linear-gradient(#9dd2ea, #8bceec);
        border-radius: 3px;
        box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
    }

    .top span.clear {
        float: left;
    }

    .top .screen {
        height: 40px;
        width: 212px;
        
        float: right;
        
        padding: 0 10px;
        
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
        
        font-size: 17px;
        line-height: 40px;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        text-align: right;
        letter-spacing: 1px;
    }

    .keys, .top {overflow: hidden;}

    .keys span, .top span.clear {
        float: left;
        position: relative;
        top: 0;
        
        cursor: pointer;
        
        width: 66px;
        height: 36px;
        
        background: white;
        border-radius: 3px;
        box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
        
        margin: 0 5px 11px 0;
        
        color: #888;
        line-height: 36px;
        text-align: center;
        
        user-select: none;
        
        transition: all 0.2s ease;

    }
    .keys span.eval{
        width : 280px;
    }
     .keys span.operator {
        background: rgba(255, 216, 221, 1);
    }

    .keys span.eval {
        background: #f1ff92;
        box-shadow: 0px 4px #9da853;
        color: #888e5f;
    }

    .top span.clear {
        background: #ff9fa8;
        box-shadow: 0px 4px #ff7c87;
        color: white;
    }

    /* Some hover effects */
    .keys span:hover {
        background: #9c89f6;
        box-shadow: 0px 4px #6b54d3;
        color: white;
    }

    .keys span.eval:hover {
        background: #abb850;
        box-shadow: 0px 4px #717a33;
        color: #ffffff;
    }

    .top span.clear:hover {
        background: #f68991;
        box-shadow: 0px 4px #d3545d;
        color: white;
    }

    .keys span:active {
        box-shadow: 0px 0px #6b54d3;
        top: 4px;
    }

    .keys span.eval:active {
        box-shadow: 0px 0px #717a33;
        top: 4px;
    }

    .top span.clear:active {
        top: 4px;
        box-shadow: 0px 0px #d3545d;
    }

