html {
            position: relative;
            min-height: 100%;
    }

    body {
        position: relative;
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 60px;

    }
    
    article {
        display: block;
        text-align: left;
        width: 80%;
        padding-top: 2%;
        padding-bottom: 15%;
        margin: 0 auto;
    }

    
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #f5f5f5;
        margin-top: 2%;
    }

    .favListItem {
        display: inline-block;
        width: 33%;
    }

    li {
    	padding-left: 40px;
    }

    .navbar-brand {
	  padding: 0px;
	}
	.navbar-brand>img {
	  height: 10%;
	  padding: 15px;
	  width: auto;
	}
    .btn-xs{
        margin-top: 7px;
        height: 24px;
        font-size: 12px;
    }


.fa {
        font-size: 15px;
        cursor: pointer;
        user-select: none;
    }

    .fa:hover {
      color: darkblue;
    }
    .checked {
            color: orange;
        }

    .card-title{
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        background-color:rgb(255, 193, 7);
         /*Lighter shade for future use -> rgba(255, 191, 0, 0.52);*/

        }
    

    @media screen and (min-width: 768px) {
      .bricklayer-column-sizer {
        /* Each column will be 100px width and there will be 5 columns. */
        width: 33%;
      }
    }

    /* You should add more media queries to make it fully responsive. */

    @media screen and (min-width: 768px) {
      .bricklayer-column-sizer {
        /* Each column will be 125px width and there will be 4 columns. */
        width: 33%;
      }
    }

    .calc_button
    {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        color: #077bff;
    }



/*Calculator CSS*/
    
   
    .modal-content
    {
            width: fit-content;
            max-height: 300px;

    }
    #calculator {
        width: 325px;
        height: auto;
        padding: 20px 20px 9px;
        background: #9dd2ea;
        background: linear-gradient(#9dd2ea, #8bceec);
        border-radius: 3px;
        box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
    }

    .top span.clear {
        float: left;
    }

    .top .screen {
        height: 40px;
        width: 212px;
        
        float: right;
        
        padding: 0 10px;
        
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
        
        font-size: 17px;
        line-height: 40px;
        color: white;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        text-align: right;
        letter-spacing: 1px;
    }

    .keys, .top {overflow: hidden;}

    .keys span, .top span.clear {
        float: left;
        position: relative;
        top: 0;
        
        cursor: pointer;
        
        width: 66px;
        height: 36px;
        
        background: white;
        border-radius: 3px;
        box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
        
        margin: 0 5px 11px 0;
        
        color: #888;
        line-height: 36px;
        text-align: center;
        
        user-select: none;
        
        transition: all 0.2s ease;

    }
    .keys span.eval{
        width : 280px;
    }
     .keys span.operator {
        background: rgba(255, 216, 221, 1);
    }

    .keys span.eval {
        background: #f1ff92;
        box-shadow: 0px 4px #9da853;
        color: #888e5f;
    }

    .top span.clear {
        background: #ff9fa8;
        box-shadow: 0px 4px #ff7c87;
        color: white;
    }

    /* Some hover effects */
    .keys span:hover {
        background: #9c89f6;
        box-shadow: 0px 4px #6b54d3;
        color: white;
    }

    .keys span.eval:hover {
        background: #abb850;
        box-shadow: 0px 4px #717a33;
        color: #ffffff;
    }

    .top span.clear:hover {
        background: #f68991;
        box-shadow: 0px 4px #d3545d;
        color: white;
    }

    .keys span:active {
        box-shadow: 0px 0px #6b54d3;
        top: 4px;
    }

    .keys span.eval:active {
        box-shadow: 0px 0px #717a33;
        top: 4px;
    }

    .top span.clear:active {
        top: 4px;
        box-shadow: 0px 0px #d3545d;
    }


    /*Stopwatch Css*/



     
    @mixin transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    }
    @mixin corners ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius; 
    -khtml-border-radius: $radius; 
    }
    #seconds, #tens{
      font-size:2em;
    }

    .stopW_btn
    {
          
            width: 66px;
            height: 36px;
            border-radius: 3px;
            background: #ff9fa8;
            color: white;
            margin: 0 5px 11px 0;
            box-shadow: 0px 0px #d3545d;
            line-height: 36px;
            text-align: center;
            user-select: none;
            transition: all 0.2s ease;
    }

    .stopW_btn:hover {
        background: #ff707d;
        box-shadow: 0px 4px #e4d6d8;
        color: #ffffff;
    }

/*Time Zone Convertor CSS*/



    #myInput {
        border-box: box-sizing;
        background-image: url('../image/searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    #myInput:focus {outline: 3px solid #ddd;}



    #myInput2 {
        border-box: box-sizing;
        background-image: url('../image/searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    #myInput2:focus {outline: 3px solid #ddd;}


    
    .tzconvert
    {
        margin: 20px;
    }
    #myDropdown button , #myDropdown2 button
    {
            background-color: #ff9fa8;
            color: white;
    }
    #h1 , #m1
    {
            text-align: center;
    }
    #main_drop_menu li 
    {
            text-align: center;
             padding-left: 0px; 
    }
    li { cursor: pointer; }
