html {
            position: relative;
            min-height: 100%;
    }

    body {
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 60px;
    }

    article {
        display: block;
        text-align: left;
        width: 80%;
        padding-top: 2%;
        padding-bottom: 15%;
        margin: 0 auto;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #f5f5f5;
    }

    li {
    	padding-left: 40px;
    }

    .navbar-brand {
	  padding: 0px;
	}
	.navbar-brand>img {
	  height: 10%;
	  padding: 15px;
	  width: auto;
	}
    .btn-xs{
        margin-top: 7px;
        height: 24px;
        font-size: 12px;
    }

#bookmarks{
    padding-bottom:60px; 
}
.input-group{
    border:1px solid #ced4da;
    border-radius:5px;
    border-width: 2px;
    margin-top: 25px;
}
.input-group search{
    float: left;
    width: 90%;
    border: none;
    padding: 0px;
}
.input-group button{
    height: 40px;
    margin: 0px;
    border-radius:px;
    float:left;
    width:10%;
    border-left:none;
    cursor:pointer;
}
#pop-tags{
        padding-left: 20%;
}
@media (min-width: 1200px)
.container {
    max-width: 100% !important;
}