html {
            position: relative;
            min-height: 100%;
    }

    body {
        position: relative;
        font-family: 'Roboto Mono', monospace;
        margin-bottom: 60px;

    }
    .card
    {
        padding: 2px;
    }

    article {
        display: block;
        text-align: left;
        width: 80%;
        padding-top: 2%;
        padding-bottom: 15%;
        margin: 0 auto;
    }
    
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color: #f5f5f5;
        margin-top: 2%;
    }

    li {
    	padding-left: 40px;
    }

    .navbar-brand {
	  padding: 0px;
	}
	.navbar-brand>img {
	  height: 10%;
	  padding: 15px;
	  width: auto;
	}
    .btn-xs{
        margin-top: 7px;
        height: 24px;
        font-size: 12px;
    }

    .card-title{
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        background-color:rgb(255, 193, 7);
         /*Lighter shade for future use -> rgba(255, 191, 0, 0.52);*/

        }

