html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 60px;
}

article {
    display: block;
    text-align: left;
    width: 80%;
    padding-top: 2%;
    padding-bottom: 15%;
    margin: 0 auto;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
    margin-top: 2%;
}

.favListItem {
    display: inline-block;
    width: 33%;
}

li {
    padding-left: 40px;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 10%;
    padding: 15px;
    width: auto;
}
.btn-xs{
    margin-top: 7px;
    height: 24px;
    font-size: 12px;
}

.fa {
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

.fa:hover {
    color: darkblue;
}

.checked {
    color: orange;
}


.card-title{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color:rgb(255, 193, 7);
    /*Lighter shade for future use -> rgba(255, 191, 0, 0.52);*/
}


@media screen and (min-width: 768px) {
    .bricklayer-column-sizer {
        /* Each column will be 100px width and there will be 5 columns. */
        width: 33%;
    }
}

/* You should add more media queries to make it fully responsive. */

@media screen and (min-width: 768px) {
    .bricklayer-column-sizer {
        /* Each column will be 125px width and there will be 4 columns. */
        width: 33%;
    }
}

#help_popup {
    width:100%;
    height:100%;
    opacity:.99;
    top:0;
    left:0;
    display:none;
    position:fixed;
    background-color:#313131;
    overflow:auto
}

img#close {
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer
}

div#popup {
    position:absolute;
    left:50%;
    top:17%;
    margin-left:-402px;
}

form {
    max-width:800px;
    min-width:400px;
    padding:10px 50px;
    border:2px solid gray;
    border-radius:10px;
    background-color:#fff
}

h2 {
    background-color:#fcee45;
    padding:20px 35px;
    margin:-10px -50px;
    text-align:center;
    border-radius:10px 10px 0 0
}

h4 {
    text-align:justify;
}

hr {
    margin:10px -50px;
    border:0;
    border-top:1px solid #ccc
}
