

/*Time Zone Converter CSS*/



    #myInput {
        border-box: box-sizing;
        background-image: url('../image/searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    #myInput:focus {outline: 3px solid #ddd;}



    #myInput2 {
        border-box: box-sizing;
        background-image: url('../image/searchicon.png');
        background-position: 14px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 20px 12px 45px;
        border: none;
        border-bottom: 1px solid #ddd;
    }
    #myInput2:focus {outline: 3px solid #ddd;}


    
    .tzconvert
    {
        margin: 20px;
    }
    #myDropdown button , #myDropdown2 button
    {
            background-color: #ff9fa8;
            color: white;
    }
    #h1 , #m1
    {
            text-align: center;
    }
    #main_drop_menu li 
    {
            text-align: center;
             padding-left: 0px; 
    }
    li { cursor: pointer; }

