.container-fluid {
    margin-top: 7%;
    width: 500px;
    height: 500px;
    background-color: azure
}

#play {
    display: none;
    margin-top: 10%;

}

body {
    margin: 0%;
    background-color: white;
    font-family: 'Grenze', serif;

}

#goButton {
    margin: auto;
    display: block;
}

#play {
    align-content: center;
}

.btn {
    min-width: 150px;
    font-size: 50px;
}

.logo {
    max-width: 25%;
    background: url(../../../logo/logo.png);
    background-repeat: no-repeat;
    margin: 2px;
    width: 220px;
    height: 65px;
    background-size: contain;
}